/* the styles for the elements */
* {
	margin: 0;
	padding: 0;
}
html {
	background-color: white;
}
body{
	margin: 0 auto;
    border: 3px solid darkred;
	width: 99%;
	max-width: 960px;
}
.center{
	display: block;
	margin: auto;
	width: 30%;
	height: auto;
}
a:focus, a:hover {
	font-style: italic;
}
header img{
	vertical-align: text-top;
	max-width: 100%;
	height: auto;
}
/* the styles for the navigation menu */
#nav_menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
}
#nav_menu ul li {
	float: left;
	width: 20%;
}
#nav_menu ul li a {
    display: block;
    width: 12em;
    text-align: center;
    padding: 1em 0;
    text-decoration: none;
    background-color: darkred;
    color: white;
    font-weight: bold;
}
#nav_menu a.current {
	color: yellow;
}
#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
}
#nav_menu ul ul li {
	float: none;
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
    content: "";
    clear: both;
    display: block;
}
section h1{
	text-align: center;
}
section h2{
	padding-left: 1em;
}
aside h2{
	float: left;
}
section p{
	float: right;
}
@media only screen and (max-width:960px){
	#mobile_menu{
		display: none;
	}
	#nav_menu{
		display: block;
	}
}
#nav_menu{
	display: block;
}
#mobile_menu{
	display: none;
}
.slicknav_menu{
	background-color: darkred !important;
}
@media only screen and (max-width:768px){
	#mobile_menu{
		display: block;
	}
	#nav_menu{
		display: none;
	}	
}
footer{
	clear: both;
	text-align: center;
	background-color: darkred;
	color: white;
}
table, tr, th, td{
	margin-left: 30%;
}
table, th, td{
	border: 1px solid black;
    border-collapse: collapse;
}
table th{
	text-align: left;
	padding-right: 1em;
}
table select{
width: 100%;
}
button{
	width: 100%;
	padding: none;
	color: white;
	background-color: darkred;
}
section h3{
	padding: 0 1em 1em 1em;
}
article{
	padding: 1em;
}
article img{
	width: 100%;
}